<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FadeBARber">

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".MainActivityEmployee"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".AuthActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BookingActivity"
            android:exported="false" />

        <activity
            android:name=".TryOnActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FadeBARber" />

        <activity
            android:name=".ProfileEditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ImageCropActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SessionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".UserAgreementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ColleaguesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CutHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NotificationDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".BookingNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>